@font-face {
    font-family: 'UbuntuRegular';
    src: url('../font/font.eot');
    src: url('../font/font.eot?#iefix') format('embedded-opentype'),
         url('../font/font.woff') format('woff'),
         url('../font/font.ttf') format('truetype'),
         url('../font/font.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background: #ffffff url(../img/background.png);	
        color: #777777;
	text-shadow: 0 1px 0 #ffffff;
        font-family: "UbuntuRegular";
}
.depan{
	border-radius: 3px;
	background: #f2f2f2 url(../img/noise_gd.png);
	width: 970px;
	box-shadow: 0px 0px 8px #333333;
        position: relative;
        margin-top: 20px;
	background-image: url(../img/logogd4.png);
	background-repeat: no-repeat;
	background-position: center right;
}
b.logotext {
    font-size: 35px;
    color: #51a9e5;
    line-height: 80px;
}
.logogd {
    height: 85px;
    margin-left: 23px; 
    background: url(../img/logogd.png) no-repeat;
    padding-left: 70px;
}
.head {
    margin: 7px 0px 0px 30px ;
    width: 261px;
}
.sidebar-login {
    font-size: 18px;
    color: #51a9e5;
    padding-bottom: 5px;
}
.fyg {
    margin-left:30px;
    width: 261px;
    position: relative;
    background: rgba( 90, 90, 90, 0.06);
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    box-shadow: inset 0 0 5px #999;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 1px;
}
.signup {
    margin-top: 12px;
    margin-left:30px;
    width: 261px;
    position: relative;
    background: rgba( 90, 90, 90, 0.06);
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    box-shadow: inset 0 0 5px #999;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 1px;
}
.download-app {
    height: 54px;
    margin-top: 12px;
    margin-left:30px;
    width: 261px;
    position: relative;
    background: rgba( 90, 90, 90, 0.06);
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    box-shadow: inset 0 0 5px #999;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 1px;
}
.socialnetwork {
    margin-top: 12px;
    margin-left:30px;
    margin-bottom: 12px;
    width: 241px;
    position: relative;
    background: rgba( 90, 90, 90, 0.06);
    border-radius: 4px;
    border-width: 1px;
    border-color: #333333;
    box-shadow: inset 0 0 5px #999;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.socialnetworklogo {
    width: 100px;
    margin: 0px auto;
    padding: auto;
}
img.android {
    margin-left: 10px;
}
img.bb {
    margin-left: 10px;
}
.nav-index {
    margin-left: 430px;
    width: 360px;
}

.treadmark {
    width: 200px;
    margin-left: -20px;
}

.footer-index{
	width: 970px;
        position: relative;
        margin-top: 7px;
}

.btn-gd {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #118cd8, #0f70ad);
  background-image: -ms-linear-gradient(top, #118cd8, #0f70ad);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#118cd8), to(#0f70ad));
  background-image: -webkit-linear-gradient(top, #118cd8, #0f70ad);
  background-image: -o-linear-gradient(top, #118cd8, #0f70ad);
  background-image: linear-gradient(top, #118cd8, #0f70ad);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'0088cc, endColorstr='#'0044cc, GradientType=0);
  border-color: #0f70ad #0f70ad #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-gd:hover,
.btn-gd:active,
.btn-gd.active,
.btn-gd.disabled,
.btn-gd[disabled] {
  background-color: #0f70ad;
}
.btn-gd:active, .btn-gd.active {
  background-color: #003399 \9;
}

.noise{
    background-image: url(../img/head-noise.png);
}

.logo-dash {
    position: absolute;
    width: 26px;
    height: 36px;
    background-image: url(../img/logo-min.png);
    margin-top: 1px;
}
.logo-font {
    margin-left: 30px;
}

#users {
    position: relative;
    /*top: 250px;*/
    left: 0;
    bottom: -200px;
    text-align: center;
    margin: auto;
    
}

.avatar{
	background: #fdfdfd;
	background: -moz-linear-gradient(#FDFDFD, #C9C9C9) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(#FDFDFD, #C9C9C9) repeat scroll 0 0 transparent;
	border-radius: 5% 5% 5% 5%;
	-webkit-border-radius: 5% 5% 5% 5%;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	/*-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);*/
	background: rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	height: 98px;
	width: 98px;
	z-index: 9;
	padding: 3px;
	background: url(../img/none.png) no-repeat;
	background-position: center;
}
.avatar img{
	-moz-transition-duration:4s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:4s;
	border-radius: 5% 5% 5% 5%;
	-webkit-border-radius: 5% 5% 5% 5%;
	height: 98px;
	width: 98px;
	cursor: pointer;
}

.username {
    text-align: center;
    padding-top: 5px;
    color: #aaaaaa;
    cursor: pointer;
}
.ignuser {
    	margin: auto;
	margin-bottom: 25px;
	height: 105px;
	width: 98px;
	position: relative;
}
.ignlogo {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px;
    background-image: url(../img/logo-ign.png);
}
.ignlabel {
    display: block;
    margin-top: 20px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
    font-size: 30px;
    /*color: #111111;
    text-shadow: 0px 1px 1px #777777;*/
    color: #a9a9a9;
    text-shadow: 0px 1px 1px #111111;
}

#anime
    {
	top: 100px;
	display:block;
	/*margin-top:5px;*/
	position:relative;
	animation:tengah 3s;
	-webkit-animation:tengah 3s;
    }
    @-webkit-keyframes tengah
    {
	0%   {left:0px; top:250px;}
	30%   {left:0px; top:250px;}
	100% {left:0px; top:100px;}
    }
    
.form_input{
	position:relative;
	margin: 45px auto;
	margin-top: 20px;
	width: 185px;
	bottom: -200px;

}
.text_box{
	border: 1px solid transparent;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 2px 3px #4189C3;
	-webkit-box-shadow: 0 0 2px 3px #4189C3;
	-moz-box-shadow: 0 0 2px 3px #4189C3;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	height: 24px;
	padding: 2px 26px 2px 5px;
	width: 154px;
}
.submit{
	background: url("../img/input_submit2.png") no-repeat scroll 0 0 transparent;
	border: medium none;
	height: 24px;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	width: 24px;
	margin-left: 159px;
	margin-top: -36px;
	cursor: pointer;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:55px;
   width:100%;
   /*background:#999;*/
   padding : auto;
   text-align: center;
   float: left;
}

.avatarul{
    list-style-type:none;
    margin: auto;
    
}
.user {
    display: inline-block;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.tombol{
    list-style-type:none;
    margin: auto;
    width: 600px;

}
.tombol .tbli {
    display: inline;
    font-family: "UbuntuRegular";
    width: auto;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.tombol .tbli img{
    height: 24px;
    width: 24px;
}
.tombol .tbli ft{
    position: absolute;
    display: inline;
    margin-left: -40px;
    padding-top: 27px;
    height: 50px;
    color:#777;
}
.tombol .tbli other{
    position: absolute;
    display: inline;
    margin-left: -33px;
    padding-top: 27px;
    height: 50px;
    color:#777;
}
a:hover, a:active {
  outline: 0;
  text-decoration: none;
}
.css-session{
    background-color: #0088cc;
}

/*-------------DropUp menu-------------*/
.dropup-menu {
    bottom: 100%;
    top: auto !important;
}

/* position the arrow downwards, pointing to the menu */

.navbar .dropup-menu:before {
    border-bottom: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    left: 7px;
    top: 100%;
}

.navbar .dropup-menu:after {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    left: 10px;
    top: 100%;
    left: 6px;
}

/* point the caret up*/

.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000000;
    border-top: none;
}

.alert {
	margin: 20px auto;
	width: 500px;
	position:relative;
	bottom: -200px;
}
